div.light-dark-switch {
    left: 20px;
    bottom: 20px;
    padding: 10px 10px;
}

#light-dark-label #light-dark-button::before {
    content: '';
    background-image: url('@fortawesome/fontawesome-free/svgs/regular/moon.svg');
    display: inline-block;
    filter: invert(var(--dark-mode));
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    vertical-align: text-top;
}

#light-dark-switch:checked ~ label #light-dark-button::before {
    background-image: url('@fortawesome/fontawesome-free/svgs/regular/sun.svg');
}
