.sprotty-node rect,
.sprotty-node ellipse,
.sprotty-node polygon,
.sprotty-node line,
.sprotty-node path,
.sprotty-node circle {
    stroke: var(--color-foreground);
    fill: var(--color-primary);
    stroke-width: 1;
}

.sprotty-port circle,
.sprotty-port path {
    stroke: var(--color-foreground);
    fill: none;
    stroke-width: 1;
}

.sprotty-node text {
    fill: var(--color-foreground);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.sprotty-edge {
    stroke: var(--color-foreground);
    fill: none;
    stroke-width: 1;
}

.sprotty-port text {
    font-size: 8pt;
}
